# Ignore build directories
build/
Debug/
build-*/

# Ignore compiled binaries and intermediate files
*.exe
*.obj
*.o
*.so
*.dll
*.dylib
*.a
*.lib

# CMake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
cmake-build-debug

# CLion project-specific files
.idea/
*.iml

# User-specific settings
*.user
*.swp
*~

